.header {
  padding: 10px 0 12px;
  background: var(--color-black);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header__logo {
  width: 97px;
  height: 22px;
}

.header__logo svg {
  width: 100%;
  height: 100%;
}

.header__search {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.header__search svg {  
  width: 100%;
  height: 100%;
  color: var(--color-white); 
}

.header__search:hover svg { color: var(--color-orange); }
.header__search:active svg { color: var(--color-orange-dark); }
.header__search:focus { outline: 2px solid #000; }

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  display: block;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  text-align: left;
  color: #333333;
}

.nav__link:hover {
  border-bottom: 2px solid var(--color-orange);
}

.nav__link:active {
  border-bottom: 2px solid var(--color-orange-dark);
  color: var(--color-orange-dark);
}

.burger-img  {
  width: 21px;
  height: 15px;
}



@media (max-width: 767px) {
  .burger {  
    margin-left: 0;  
    position: relative;
    color: #fff;
    z-index: 20;
  }

  .burger-img {
    display: none;

  }

  .burger-img.is-active {
    display: block;
  }

  #burger-close {
    color: #666;
  }

  .nav__list {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    width: 100%;
    padding: 50px 20px 20px;
    background-color: #fff;
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
  }

  .nav__list.is-active {
    transform: none;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav__list {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    background: transparent;
  }

  .nav__link {
    color: #fff;
  }
}