* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
img {
  max-width: 100%;
}
  
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

  /* Header */
.header {
  height: 110px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  margin-right: 35px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-phone {
  color: #000;
}

.header-login {
  color: #000
}