@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');

}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
}
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff'),
}

:root {
  --color-yellow: #cc9933;

  --color-grey: #414141;
  --color-grey-2: #666;
  --color-grey-3: #999;
  --color-grey-4: #c4c4c4;
  --color-grey-5: #333;

  --color-black: #000;

  --color-white: #fff;
  --color-white-2: #e9e9e9;
  --color-white-3: #e5e5e5;
  --color-white-4: #e1e1e1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-white-3);
  font-family: 'Muller', sans-serif;
}

a {
  color:  var(--color-black);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-top: 70px;
  margin-bottom: 25px;
  padding-left: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-grey);
}

  /* Header */
.header {
  height: 110px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  margin-right: 35px;
}

.header-phone {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-grey-2);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-login {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-yellow);
}

.header-login:hover {
  opacity: .7;
}

.btn {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid var(--color-yellow);
  border-radius: 10px;
  font-size: 16px;
  line-height: 42px;
  color: var(--color-yellow);
  background: #fff;
  transition: background-color .4s ease, color .3s linear;
}

.btn_big {
  padding: 0 29px;
  line-height: 62px;
  border-radius: 15px;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
  background-color: var(--color-yellow);
  color: var(--color-white);
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 45px;
  background: var(--color-white);
  border-radius: 15px;
}

.nav-list {
  display: flex;
}

.nav-item {
  font-size: 16px;
  line-height: 1;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-link {
  color: var(--color-grey-2);
  transition: color .3s ease;
}

.nav-link:hover {
  color: var(--color-yellow);
}

.menu-right-btn:not(:last-child) {
  margin-right: 40px;
}

.menu-right-btn:hover {
  opacity: 1;
  background-color: var(--color-yellow);
  color: var(--color-white);
}

/* Section Hero */
.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.special-offer {
  display: flex;
  flex-direction: row;
}

.special-offer-left {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-right: 23px;
}

.special-offer-right {
  flex: 1 1 50%;
}

.special-offer-left-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  transition: background-size .5s ease-out;
}

.special-offer-left-item:first-child {
  margin-bottom: 23px;
}

.special-offer-left-item > * {
  position: relative;
  z-index: 10;
}

.special-offer-right-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 40px 40px;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  transition: background-size 0.5s ease-out;
}

.special-offer-left-item > *,
.special-offer-right-item > * {
  position: relative;
  z-index: 2;
}

.special-offer-item-maldives {
  background-image: url('../img/maldives.jpg');
}

.special-offer-item-crete {
  background-image: url('../img/crete.jpg');
}

.special-offer-item-lux {
  background-image: url('../img/lux.jpg');
}

.accommodation-item-show-all {
  position: relative;
}

.accommodation-item-show-all > * {
  position: relative;
  z-index: 10;
}

.special-offer-left-item:after,
.special-offer-right-item:after,
.accommodation-item-show-all:after {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  opacity: 0;
  transition: opacity .5s ease-in-out;

}

.special-offer-left-item:hover::after,
.special-offer-right-item:hover::after,
.accommodation-item-show-all:hover::after {
  opacity: 1;
}

.special-offer-right-item:after,
.accommodation-item-show-all:after {
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}


.special-offer-heading {
  max-width: 300px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  color: var(--color-white);
}

.special-offer-heading-lux {
  font-size: 60px;
}

.special-offer-price {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 1;
  color: var(--color-white);
  opacity: 0.8;
}

.special-offer-price-lux {
  font-size: 30px;
}

.special-offer-more-link {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  color: #ffcc66;
}

.special-offer-more-link:after {
  content: "";
  display: inline-block;
  background-image: url('../img/link-more.svg');
  background-size: contain;
  width: 16px;
  height: 16px;
  transform: translateY(4px);
}

/* About */
.about-description {
  max-width: 900px;
  font-size: 16px;
  line-height: 2;
  color: var(--color-black);
}

/* Services */
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.services-item {
  width: calc(50% - 24px);
  margin: 12px;
  background: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
}

.services-image-wrap {
  display: flex;
  height: 170px;
}

.services-image {
  width: 100%;
  height: 170px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size .5s ease-out;
}

.services-image-1 { background-image: url("../img/services-1.jpg"); }
.services-image-2 { background-image: url("../img/services-2.jpg"); }
.services-image-3 { background-image: url("../img/services-3.jpg"); }
.services-image-4 { background-image: url("../img/services-4.jpg"); }

.services-image:hover {
  background-size: 110%;
}

.services-content {
  padding: 26px 126px 50px 45px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 10px;
}


.services-link {
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: var(--color-yellow);
}

.services-link:after {
  content: "";
  display: inline-block;
  background-image: url('../img/services-more.svg');
  background-size: contain;
  width: 20px;
  height: 20px;
  transform: translateY(4px);
}

.services-description {
  margin: 0;
  font-size: 16px;
  line-height: 2;
  color: var(--color-black);
}
/* Benefits*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.benefits-item {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 40px;
  background: var(--color-white);
  border-radius: 15px;
}

.benefits-item:nth-child(4n) {
  margin-right: 0;
}

.benefits-description {
  font-size: 16px;
  line-height: 2;
  color: #000000;
}

.benefits-icon {
  display: inline-block;
  width: auto;
  height: 66px;
  margin-bottom: 10px;
}
/* Accommodation  */
.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.accommodation-item {
  width: calc(100% / 3 - 20px);
  margin: 10px;
  background: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
}

.accommodation-img {
  width: 100%;
}

.accommodation-content {
  padding: 35px 45px 40px;
}

.accommodation-price-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.accommodation-price {
  font-size: 16px;
  color: var(--color-grey-3);}

.accommodation-price-value {
  color: var(--color-black);
}

.accommodation-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.accommodation-location {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-3);}

.accommodation-item-show-all {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 55px;
  background-image: url('../img/accommodation-all.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.accommodation-item-show-all__link {
  display: inline-block;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: var(--color-white);
}

.accommodation-item-show-all__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.accommodation-show-all:after {
  content: "";
  display: inline-block;
  background-image: url('../img/accommodation-more.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transform: translateY(4px);
}

/*Tour Form*/
.tour {
  margin-top: 65px;
  padding: 40px 40px 75px;
  background: var(--color-white-2);
  border-radius: 15px;
}

.tour-heading {
  margin: 0;
  padding-left: 0;
  color: var(--color-black);
}

.tour-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 30px;
  background: var(--color-white);
  border-radius: 15px;
}

.tour-form-group {
  display: flex;
  width: calc(87% / 5);
  flex-direction: column;
  padding: 0 20px;
}

.tour-form-group-btn {
  width: 13%;;
}

.tour-form-group:first-child {
  padding-left: 0;
}

.tour-form-group:last-child {
  padding-right: 0;
}

.tour-form-group:not(:last-child) {
  border-right: 1px solid var(--color-white-4);
}

.tour-form-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-black);
}

.tour-form-input {
  border: 0;
}

/* Contacts */
.contacts {
  display: flex;
  flex-direction: row;
  padding: 45px;
  background: var(--color-white);
  border-radius: 15px;
}

.contacts-info {
  width: 40%;
  padding-right: 45px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  border-bottom: 1px solid var(--color-grey-4);
}

.contact-item:first-child {
  padding-top: 0;
}

.contacts-label {
  width: 35%;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: var(--color-black);
}

.contacts-data {
  width: 65%;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
}

.contacts-data-booking {
  color: var(--color-grey-3);
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-yellow);
}

.contacts-btn {
  margin-top: 45px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 45px 50px;
  background: var(--color-grey-5);
  border-radius: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.9;
  color: var(--color-white);
}

.footer-coopyright {
  width: 30%;
  max-width: 320px;
}

.footer-paragraph {
  margin-bottom: 40px;
}

.footer-paragraph:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: var(--color-yellow);
  transition: color .3s ease;
}

.footer-link:hover {
  color: var(--color-white);
}

.footer-address {
  font-style: normal;
}

.footer-contacts {
  position: relative;
  width: 50%;
}

.footer-contacts:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -45px;
  width: 254px;
  height: 228px;
  background-image: url('../img/sun.png');
  background-repeat: no-repeat;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social-link {
  margin-bottom: 25px;
  font-size: 0;
  opacity: 0.6;
}

.footer-social-link:hover {
  opacity: 1;
}

